name: Build and Push Docker image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image from backend folder
<<<<<<< HEAD
        run: docker build backend -f backend/Dockerfile -t amar08545/node-app:latest

      - name: Push Docker image
        run: docker push amar08545/node-app:latest
=======
        run: docker build backend -f backend/Dockerfile -t amar08545/home-rent:latest

      - name: Push Docker image
        run: docker push amar08545/home-rent:latest
>>>>>>> c8b22e477f496800becf7a52d25700770bb2f667
